BasedOnStyle: Google
ColumnLimit: 300
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Merge
BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveMacros: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignTrailingComments: true